"*":
  "atom-material-ui":
    colors:
      abaseColor: "#607d8b"
      accentColor: "#abdff8"
      predefinedColor: "Blue Grey"
    fonts: {}
    tabs:
      compactTabs: true
      noTabMinWidth: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      animations: false
      panelContrast: true
      useAnimations: false
  "color-picker":
    abbreviateValues: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "linter-ui-default"
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 11
    preferredLineLength: 120
    tabType: "soft"
  "exception-reporting":
    userId: "1aaaef24-5618-42d3-834f-2da54fef77b4"
  "file-icons":
    coloured: false
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "git-diff":
    showIconsInEditorGutter: true
  "incremental-search":
    cancelSearchOnBlur: true
    instantSearch: true
    landAtPointInsteadOfRange: true
  "isotope-ui":
    fontFamily: "Source Sans Pro"
    minimalMode: true
  "linter-eslint":
    eslintRulesDir: "eslint"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "nord-atom-ui":
    tabSizing: false
  "northem-dark-atom-ui":
    tabSizing: false
  nuclide:
    installRecommendedPackages: true
    "nuclide-diagnostics-ui": {}
    "nuclide-file-tree":
      revealFileOnSwitch: true
    "nuclide-flow":
      canUseFlowBin: true
      warnOnNotInstalled: false
    "nuclide-home":
      showHome: false
    "nuclide-outline-view":
      nameOnly: true
    use: {}
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Minimum"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tool-bar":
    visible: false
  welcome:
    showOnStartup: false
