packages: [
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-material-ui"
  "busy-signal"
  "color-picker"
  "file-icons"
  "git-blame"
  "git-plus"
  "gruvbox-plus-syntax"
  "haskell-grammar"
  "highlight-selected"
  "incremental-search"
  "intentions"
  "isotope-light-ui"
  "isotope-ui"
  "language-babel"
  "language-csv"
  "language-graphql"
  "language-ini"
  "language-lua"
  "language-ocaml"
  "language-rust"
  "language-swift"
  "language-thrift"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "MagicPython"
  "merge-conflicts"
  "minimap"
  "minimap-highlight-selected"
  "monokai"
  "nord-atom-syntax"
  "nord-atom-ui"
  "northem-dark-atom-syntax"
  "northem-dark-atom-ui"
  "nuclide"
  "nuclide-format-js"
  "nuclide-test-runner-jest"
  "package-sync"
  "pretty-json"
  "rest-client"
  "set-syntax"
  "sort-lines"
  "split-diff"
  "tag"
  "tool-bar"
]
